body{background: silver;}

#cadre{border-radius: 10px;}

.logo{
    background: white;
    border: white 10px;
    border-radius: 10%;}

footer{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-end;
    font-family: 'Reenie Beanie', cursive;}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;}
